
.dot{

display:inline-block;
position:relative;

}

.d1 ,.d2 ,.d3{
display:inline-block;
width:6px;
height:6px;
background-color:black;
margin:1.5px;

border-radius:20%;
}
.d1{

animation-name:b1;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-timing-function: linear;
animation-delay:.3s;
animation-direction:alternate;
}
.d2{

animation-name:b2;
animation-duration:0.9s;
animation-iteration-count:infinite;
animation-timing-function: linear;
animation-delay:.3s;
   animation-direction: alternate;
}
.d3{

animation-name:b3;
animation-duration:0.6s;
animation-iteration-count:infinite;
animation-timing-function: linear;
animation-delay:0.3s;
    animation-direction: alternate;
}
@keyframes b1{
0%{background-color:black;}
50%{background-color:white;}
100%{background-color:silver;}


}
@keyframes b2{
0%{background-color:black;}
50%{background-color:white;}
100%{background-color:white;}


}
@keyframes b3{
0%{background-color:black;}
50%{background-color:white;}
100%{background-color:silver;}


}


/*



<div class='dot'>
   <div class='d1'></div>
   <div class='d2'></div>
   <div class='d2'></div>

</div>


*/